# 忽略构建输出
dist/
build/
*.min.js

# 忽略依赖
node_modules/

# 忽略配置文件
*.config.js
*.config.ts
vite.config.*
uno.config.*

# 忽略类型声明文件
*.d.ts
components.d.ts
typed-router.d.ts

# 忽略缓存文件
.cache/
.temp/
.vscode/
.idea/

# 忽略日志文件
*.log
logs/

# 忽略测试覆盖率
coverage/

# 忽略其他
public/
